* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    max-width: 1140px;
    margin: auto;
}

/* COMMON PROPERTY */
:root {
    --black: black;
    --white: white;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

ul,
ol {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
}

.justify-content {
    justify-content: space-between;

}
.justify-content-center{
    justify-content: center;
}
.align-items{
    align-items: center;

}

.w-20 {
    width: 20%;
    padding: 10px 0px;
}

.w-100 {
    width: 100%;
    padding: 10px 0px;
    /* background-color: aliceblue; */
}

.w-50 {
    width: 50%;
    padding: 10px 0px;
    /* border: 1px solid black; */
}

/* FONTS */

.abril {
    font-family: 'Abril Fatface';
}

.roboto {
    font-family: 'Roboto Condensed';
}


/* HEADER */

